<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/login.css">
        <title>login</title>
    </head>
    <body>
        login<br>
        <form method="post" action="/login">
            <label for="username">Username:</label>
            <input name="username">
            <label for="password">Password:</label>
            <input name="password">
            <button type="submit">Login</button>
        </form>
        <img src="../static/src/tim.jpg" alt="tim" width="200">
    </body>
</html>