{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/profile.css">
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="coins">
    <img src="../static/src/coin.jpg" alt="" class="coin">
    <b>10000</b> ClashCoins
</div>
<img src="../static/src/lpshki.jpg" alt="" class="pic">
<h2>username</h2>
<h4 class="email">e-mail</h4>

<button>Log Out</button>
<h4 class="mybets">My Bets:</h4>
<div class="bet">
    <h6><b>Ipswich Town -:- FC Pochatok</b></h6>
    <h6>Tue, 31 Dec 2024 23:59:59 GMT</h6>
    <h6>freak championship</h6>
    <h6>Bet: <b>1:1</b> 300 ClashCoins</h6>
</div>
<div class="bet">
    <h6><b>Ipswich Town -:- FC Pochatok</b></h6>
    <h6>Tue, 31 Dec 2024 23:59:59 GMT</h6>
    <h6>freak championship</h6>
    <h6>Bet: <b>1:1</b> 300 ClashCoins</h6>
</div>
{% endblock %}